<div class="testimonial_component">
  <div class="testimonial_content-wrap">
    <div class="testimonial_img-wrap">
      {%- if block.settings.image != blank -%}
        {{
          block.settings.image
          | image_url: width: 1500
          | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
        }}
      {%- endif -%}
    </div>

    <div class="testimonial_header">
      <svg width="114" height="17" viewBox="0 0 114 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.31136 0.307985C8.48215 -0.102662 9.06388 -0.102662 9.23468 0.307985L11.3008 5.27546C11.3728 5.44858 11.5356 5.56687 11.7225 5.58185L17.0853 6.01178C17.5286 6.04732 17.7084 6.60058 17.3706 6.88991L13.2847 10.3899C13.1423 10.5119 13.0801 10.7033 13.1236 10.8857L14.3719 16.1189C14.4751 16.5515 14.0045 16.8934 13.625 16.6616L9.03364 13.8572C8.87364 13.7595 8.6724 13.7595 8.51239 13.8572L3.92108 16.6616C3.54153 16.8934 3.0709 16.5515 3.17409 16.1189L4.4224 10.8857C4.46591 10.7033 4.40372 10.5119 4.26133 10.3899L0.175429 6.88991C-0.162339 6.60058 0.017424 6.04732 0.460751 6.01178L5.82356 5.58185C6.01046 5.56687 6.17326 5.44858 6.24527 5.27546L8.31136 0.307985Z" fill="currentColor"/>
        <path d="M8.31136 0.307985C8.48215 -0.102662 9.06388 -0.102662 9.23468 0.307985L11.3008 5.27546C11.3728 5.44858 11.5356 5.56687 11.7225 5.58185L17.0853 6.01178C17.5286 6.04732 17.7084 6.60058 17.3706 6.88991L13.2847 10.3899C13.1423 10.5119 13.0801 10.7033 13.1236 10.8857L14.3719 16.1189C14.4751 16.5515 14.0045 16.8934 13.625 16.6616L9.03364 13.8572C8.87364 13.7595 8.6724 13.7595 8.51239 13.8572L3.92108 16.6616C3.54153 16.8934 3.0709 16.5515 3.17409 16.1189L4.4224 10.8857C4.46591 10.7033 4.40372 10.5119 4.26133 10.3899L0.175429 6.88991C-0.162339 6.60058 0.017424 6.04732 0.460751 6.01178L5.82356 5.58185C6.01046 5.56687 6.17326 5.44858 6.24527 5.27546L8.31136 0.307985Z" fill="currentColor"/>
        <path d="M32.3114 0.307985C32.4822 -0.102662 33.0639 -0.102662 33.2347 0.307985L35.3008 5.27546C35.3728 5.44858 35.5356 5.56687 35.7225 5.58185L41.0853 6.01178C41.5286 6.04732 41.7084 6.60058 41.3706 6.88991L37.2847 10.3899C37.1423 10.5119 37.0801 10.7033 37.1236 10.8857L38.3719 16.1189C38.4751 16.5515 38.0045 16.8934 37.625 16.6616L33.0336 13.8572C32.8736 13.7595 32.6724 13.7595 32.5124 13.8572L27.9211 16.6616C27.5415 16.8934 27.0709 16.5515 27.1741 16.1189L28.4224 10.8857C28.4659 10.7033 28.4037 10.5119 28.2613 10.3899L24.1754 6.88991C23.8377 6.60058 24.0174 6.04732 24.4608 6.01178L29.8236 5.58185C30.0105 5.56687 30.1733 5.44858 30.2453 5.27546L32.3114 0.307985Z" fill="currentColor"/>
        <path d="M32.3114 0.307985C32.4822 -0.102662 33.0639 -0.102662 33.2347 0.307985L35.3008 5.27546C35.3728 5.44858 35.5356 5.56687 35.7225 5.58185L41.0853 6.01178C41.5286 6.04732 41.7084 6.60058 41.3706 6.88991L37.2847 10.3899C37.1423 10.5119 37.0801 10.7033 37.1236 10.8857L38.3719 16.1189C38.4751 16.5515 38.0045 16.8934 37.625 16.6616L33.0336 13.8572C32.8736 13.7595 32.6724 13.7595 32.5124 13.8572L27.9211 16.6616C27.5415 16.8934 27.0709 16.5515 27.1741 16.1189L28.4224 10.8857C28.4659 10.7033 28.4037 10.5119 28.2613 10.3899L24.1754 6.88991C23.8377 6.60058 24.0174 6.04732 24.4608 6.01178L29.8236 5.58185C30.0105 5.56687 30.1733 5.44858 30.2453 5.27546L32.3114 0.307985Z" fill="currentColor"/>
        <path d="M56.3114 0.307985C56.4822 -0.102662 57.0639 -0.102662 57.2347 0.307985L59.3008 5.27546C59.3728 5.44858 59.5356 5.56687 59.7225 5.58185L65.0853 6.01178C65.5286 6.04732 65.7084 6.60058 65.3706 6.88991L61.2847 10.3899C61.1423 10.5119 61.0801 10.7033 61.1236 10.8857L62.3719 16.1189C62.4751 16.5515 62.0045 16.8934 61.625 16.6616L57.0336 13.8572C56.8736 13.7595 56.6724 13.7595 56.5124 13.8572L51.9211 16.6616C51.5415 16.8934 51.0709 16.5515 51.1741 16.1189L52.4224 10.8857C52.4659 10.7033 52.4037 10.5119 52.2613 10.3899L48.1754 6.88991C47.8377 6.60058 48.0174 6.04732 48.4608 6.01178L53.8236 5.58185C54.0105 5.56687 54.1733 5.44858 54.2453 5.27546L56.3114 0.307985Z" fill="currentColor"/>
        <path d="M56.3114 0.307985C56.4822 -0.102662 57.0639 -0.102662 57.2347 0.307985L59.3008 5.27546C59.3728 5.44858 59.5356 5.56687 59.7225 5.58185L65.0853 6.01178C65.5286 6.04732 65.7084 6.60058 65.3706 6.88991L61.2847 10.3899C61.1423 10.5119 61.0801 10.7033 61.1236 10.8857L62.3719 16.1189C62.4751 16.5515 62.0045 16.8934 61.625 16.6616L57.0336 13.8572C56.8736 13.7595 56.6724 13.7595 56.5124 13.8572L51.9211 16.6616C51.5415 16.8934 51.0709 16.5515 51.1741 16.1189L52.4224 10.8857C52.4659 10.7033 52.4037 10.5119 52.2613 10.3899L48.1754 6.88991C47.8377 6.60058 48.0174 6.04732 48.4608 6.01178L53.8236 5.58185C54.0105 5.56687 54.1733 5.44858 54.2453 5.27546L56.3114 0.307985Z" fill="currentColor"/>
        <path d="M80.3114 0.307985C80.4822 -0.102662 81.0639 -0.102662 81.2347 0.307985L83.3008 5.27546C83.3728 5.44858 83.5356 5.56687 83.7225 5.58185L89.0853 6.01178C89.5286 6.04732 89.7084 6.60058 89.3706 6.88991L85.2847 10.3899C85.1423 10.5119 85.0801 10.7033 85.1236 10.8857L86.3719 16.1189C86.4751 16.5515 86.0045 16.8934 85.625 16.6616L81.0336 13.8572C80.8736 13.7595 80.6724 13.7595 80.5124 13.8572L75.9211 16.6616C75.5415 16.8934 75.0709 16.5515 75.1741 16.1189L76.4224 10.8857C76.4659 10.7033 76.4037 10.5119 76.2613 10.3899L72.1754 6.88991C71.8377 6.60058 72.0174 6.04732 72.4608 6.01178L77.8236 5.58185C78.0105 5.56687 78.1733 5.44858 78.2453 5.27546L80.3114 0.307985Z" fill="currentColor"/>
        <path d="M80.3114 0.307985C80.4822 -0.102662 81.0639 -0.102662 81.2347 0.307985L83.3008 5.27546C83.3728 5.44858 83.5356 5.56687 83.7225 5.58185L89.0853 6.01178C89.5286 6.04732 89.7084 6.60058 89.3706 6.88991L85.2847 10.3899C85.1423 10.5119 85.0801 10.7033 85.1236 10.8857L86.3719 16.1189C86.4751 16.5515 86.0045 16.8934 85.625 16.6616L81.0336 13.8572C80.8736 13.7595 80.6724 13.7595 80.5124 13.8572L75.9211 16.6616C75.5415 16.8934 75.0709 16.5515 75.1741 16.1189L76.4224 10.8857C76.4659 10.7033 76.4037 10.5119 76.2613 10.3899L72.1754 6.88991C71.8377 6.60058 72.0174 6.04732 72.4608 6.01178L77.8236 5.58185C78.0105 5.56687 78.1733 5.44858 78.2453 5.27546L80.3114 0.307985Z" fill="currentColor"/>
        <path d="M104.311 0.307985C104.482 -0.102662 105.064 -0.102662 105.235 0.307985L107.301 5.27546C107.373 5.44858 107.536 5.56687 107.722 5.58185L113.085 6.01178C113.529 6.04732 113.708 6.60058 113.371 6.88991L109.285 10.3899C109.142 10.5119 109.08 10.7033 109.124 10.8857L110.372 16.1189C110.475 16.5515 110.005 16.8934 109.625 16.6616L105.034 13.8572C104.874 13.7595 104.672 13.7595 104.512 13.8572L99.9211 16.6616C99.5415 16.8934 99.0709 16.5515 99.1741 16.1189L100.422 10.8857C100.466 10.7033 100.404 10.5119 100.261 10.3899L96.1754 6.88991C95.8377 6.60058 96.0174 6.04732 96.4608 6.01178L101.824 5.58185C102.01 5.56687 102.173 5.44858 102.245 5.27546L104.311 0.307985Z" fill="currentColor"/>
        <path d="M104.311 0.307985C104.482 -0.102662 105.064 -0.102662 105.235 0.307985L107.301 5.27546C107.373 5.44858 107.536 5.56687 107.722 5.58185L113.085 6.01178C113.529 6.04732 113.708 6.60058 113.371 6.88991L109.285 10.3899C109.142 10.5119 109.08 10.7033 109.124 10.8857L110.372 16.1189C110.475 16.5515 110.005 16.8934 109.625 16.6616L105.034 13.8572C104.874 13.7595 104.672 13.7595 104.512 13.8572L99.9211 16.6616C99.5415 16.8934 99.0709 16.5515 99.1741 16.1189L100.422 10.8857C100.466 10.7033 100.404 10.5119 100.261 10.3899L96.1754 6.88991C95.8377 6.60058 96.0174 6.04732 96.4608 6.01178L101.824 5.58185C102.01 5.56687 102.173 5.44858 102.245 5.27546L104.311 0.307985Z" fill="currentColor"/>
      </svg>

      {%- if block.settings.heading != blank -%}
        <div class="inline-richtext">
          {{ block.settings.heading }}
        </div>
      {%- endif -%}
    </div>
    {%- if block.settings.subheading != blank -%}
      <div class="text-rich-text text-size-medium text-weight-medium" {{ block.shopify_attributes }}>
        {{ block.settings.subheading }}
      </div>
    {%- endif -%}
    <div class="testimonial_author">
      <div class="testimonial_author-img">
        <img
          src="https://cdn.shopify.com/s/files/1/0640/9689/5127/files/icon-woman.svg?v=1716328561"
          width="64"
          height="64"
          alt=""
        >
      </div>
      <div>{{ block.settings.name }}</div>
    </div>
  </div>
</div>
