{{ 'section.css' | asset_url | stylesheet_tag }}
{{ 'about.css' | asset_url | stylesheet_tag }}

{% render 'section-padding' %}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}" id="services">
  <div class="page-width">
    <div class="layout_12col">
      <div class="section_heading-wrap">
        {% render 'tag-component', tag_content: section.settings.tag_content %}
        <h2>{{ section.settings.heading }}</h2>
      </div>
      <div class="section_subheading-wrap subtitle">
        {{ section.settings.subheading }}
        <div class="section_button-wrap">
          <a href="{{ section.settings.link }}" class="button is-service">
            {{ section.settings.label }}
            {% render 'icon-arrow-up-right' %}
          </a>
        </div>
      </div>

      <div class="feature-card_list">
        {% for block in section.blocks %}
          <div class="feature-card_item">
            <h3>{{ block.settings.heading }}</h3>
            <div>{{ block.settings.text }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "О нас",
  "tag": "section",
  "class": "section_services",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Page heading",
      "label": "t:sections.services.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "default": "<p>Небольшой параграф рассказывающий о специалистах курсов.</p>",
      "label": "t:sections.services.settings.subheading.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.services.settings.image.label"
    },
    {
      "type": "text",
      "id": "tag_content",
      "default": "Услуги Skills Beauty",
      "label": "Tag Content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 128
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 128
    },
    {
      "type": "text",
      "id": "label",
      "default": "Записаться",
      "label": "t:sections.services.blocks.buttons.settings.button_label_1.label"
    },
    {
      "type": "url",
      "id": "link",
      "default": "/",
      "label": "t:sections.services.blocks.buttons.settings.button_link_1.label"
    }
  ],
  "blocks": [
    {
      "type": "feature-card",
      "name": "t:sections.about.blocks.feature-card.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.about.blocks.feature-card.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.about.blocks.feature-card.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "О нас",
      "category": "Service"
    }
  ]
}
{% endschema %}
