{{ 'certificate.css' | asset_url | stylesheet_tag }}

{% render 'section-padding' %}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}" id="certificate">
  <div class="page-width">
    <div class="layout_12col">
      <div class="certificate_heading-wrap">
        <h2>{{ section.settings.heading }}</h2>
      </div>
      <div class="certificate_subheading-wrap subtitle">
        {% render 'tag-component', tag_content: section.settings.tag_content %}
        {% comment %}
          {%- for block in section.blocks -%}
          {%- endfor -%}
        {% endcomment %}
        {{ section.settings.subheading }}
        <div class="certificate_button-wrap">
          {%- if section.settings.button_label != blank -%}
            <a
              {% if section.settings.button_link == blank %}
                role="link" aria-disabled="true"
              {% else %}
                href="{{ section.settings.button_link }}"
              {% endif %}
              class="button is-full-width"
              {{ section.shopify_attributes }}
            >
              {{ section.settings.button_label | escape }}
              {% render 'icon-arrow' %}
            </a>
          {%- endif -%}
        </div>
      </div>
      <div class="certificate_img-wrap">
        {%- if section.settings.image != blank -%}
          {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
          {%- capture sizes -%}
                      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
                      (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                    {%- endcapture -%}
          {{
            section.settings.image
            | image_url: width: 1500
            | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
          }}
        {%- else -%}
          {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Сертификат",
  "tag": "section",
  "class": "section_certificate",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Подарочный Сертификат",
      "label": "Заглавие"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "default": "<p>Цифровой сертификат подходит для оплаты услуг, курсов и продукции в магазине.</p> <p>Сертификат можно заказать онлайн и забрать в студии.</p>",
      "label": "Подзагаловок"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Изображение"
    },
    {
      "type": "text",
      "id": "tag_content",
      "default": "Наши задачи и цели",
      "label": "Тег"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 128
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 128
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Подарить",
      "label": "Лейбл кнопки"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Ссылка кнопки"
    }
  ],
  "presets": [
    {
      "name": "t:sections.cerificate.presets.name"
    }
  ]
}
{% endschema %}
