{{ 'course-pricing.css' | asset_url | stylesheet_tag }}
{{ 'section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% assign course_product = metaobject.product.value %}
{%- assign product_form_id = 'product-form-' | append: section.id -%}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="layout_12col">
      <div class="section_heading-wrap is-centered">
        {% render 'tag-component', tag_content: section.settings.tag_content %}
        <h2>{{ metaobject.pricing_heading }}</h2>
        <div class="section_subheading-wrap subtitle max-width-medium">
          <p>
            {{ metaobject.pricing_description }}
          </p>
        </div>
      </div>
      <div class="price_list">
        {% for price in metaobject.price.value %}
          <div class="price_item">
            <div class="price_content">
              <div class="price_header">
                <h3 class="text-size-large text-weight-semibold">
                  {{ price.tier_name }}
                </h3>
                <div class="price_price">
                  {{ price.price }}
                </div>
              </div>
              <ul class="price_benefits">
                {% for benefit in price.benefit.value %}
                  <li>
                    {{ benefit }}
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="price_button-wrap">
              {% if metaobject.type == 'in studio' %}
                {%- if section.settings.button_label != blank -%}
                  <a
                    {% if section.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ section.settings.button_link }}"
                    {% endif %}
                    class="button is-full-width"
                    {{ section.shopify_attributes }}
                  >
                    {{ section.settings.button_label | escape }}
                    {% render 'icon-arrow-up-right' %}
                  </a>
                {%- endif -%}
              {% else %}
                {%- render 'buy-buttons',
                  product: course_product,
                  product_form_id: product_form_id,
                  section_id: section.id,
                  show_pickup_availability: false
                -%}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Прайс курса",
  "tag": "section",
  "class": "section_team",
  "settings": [
    {
      "type": "text",
      "id": "tag_content",
      "default": "Прайс",
      "label": "Тег"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 128
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 128
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Оставить заявку",
      "label": "Лейбл кнопки"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Ссылка на запись"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label"
    }
  ],
  "presets": [
    {
      "name": "Пресет"
    }
  ]
}
{% endschema %}
