{{ 'course-instructors.css' | asset_url | stylesheet_tag }}
{{ 'section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{% if metaobject.course.instructors %}
  <div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
    <div class="page-width">
      <div class="layout_12col">
        <div class="section_heading-wrap">
          {% render 'tag-component', tag_content: section.settings.tag_content %}
          <h2>{{ section.settings.heading }}</h2>
          <div class="spacer-xxlarge hide-mobile-portrait"></div>
        </div>
        <div class="instructor_list">
          {% for member in metaobject.instructors.value %}
            <div class="instructor_item">
              <div class="instructor_photo">
                {% comment %} {{ member.photo | metafield_tag }} {% endcomment %}
                <img
                  srcset="
                    {%- if member.photo.width >= 165 -%}{{ member.photo | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if member.photo.width >= 360 -%}{{ member.photo | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if member.photo.width >= 533 -%}{{ member.photo | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if member.photo.width >= 720 -%}{{ member.photo | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if member.photo.width >= 940 -%}{{ member.photo | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if member.photo.width >= 1066 -%}{{ member.photo | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ member.photo | image_url }} {{ member.photo.width }}w
                  "
                  src="{{ member.photo | image_url: width: 533 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 3 }}px, (min-width: 990px) calc((100vw - 130px) / 3), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 1)"
                  alt="{{ member.photo.alt | escape }}"
                  class="motion-reduce"
                  loading="lazy"
                  width="{{ member.photo.width }}"
                  height="{{ member.photo.height }}"
                >
              </div>
              <div class="instructor_info">
                <h3 class="instructor_name">
                  {{ member.name }}
                </h3>
                <div class="instructor_title">
                  {{ member.title }}
                </div>
                <div class="instructor_description text-size-medium">
                  {{ member.description | metafield_tag }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.team.name",
  "tag": "section",
  "class": "section_team",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Page heading",
      "label": "t:sections.team.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "default": "<p>Небольшой параграф рассказывающий о специалистах курсов.</p>",
      "label": "t:sections.team.settings.subheading.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.team.settings.image.label"
    },
    {
      "type": "text",
      "id": "tag_content",
      "default": "Специалисты Skills Beauty",
      "label": "Tag Content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 128
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 128
    }
  ],
  "presets": [
    {
      "name": "t:sections.team.presets.name"
    }
  ]
}
{% endschema %}
