{{ 'course-header.css' | asset_url | stylesheet_tag }}

{% render 'section-padding' %}

{% assign course_product = metaobject.product.value %}
{%- assign product_form_id = 'product-form-' | append: section.id -%}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="layout_12col">
      <div class="course-header_img-wrap">
        {%- if metaobject.media != blank -%}
          {{
            metaobject.media
            | image_url: width: 1500
            | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
          }}
        {%- else -%}
          {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
      <div class="course-header_content-wrap">
        <div class="course-header_heading-wrap">
          <h1 class="course-header_heading text-style-allcaps">{{ metaobject.name }}</h1>
          {% for instructor in metaobject.instructors.value %}
            <div class="info_item">
              <div class="text-weight-semibold">{{ 'sections.course_header.instructor' | t }}:</div>
              <div>{{ instructor.name }}</div>
            </div>
          {% endfor %}
          {% if metaobject.author %}
            <div class="info_item">
              <div class="text-weight-semibold">{{ 'sections.course_header.author' | t }}:</div>
              <div>{{ metaobject.author }}</div>
            </div>
          {% endif %}
        </div>
        <div class="course-header_info">
          {% if metaobject.type %}
            <div class="info_item">
              <div class="text-weight-semibold">{{ 'sections.course_header.format' | t }}:</div>
              <div>{{ metaobject.type }}</div>
            </div>
          {% endif %}
          {% if metaobject.access %}
            <div class="info_item">
              <div class="text-weight-semibold">{{ 'sections.course_header.access' | t }}:</div>
              <div>{{ metaobject.access }}</div>
            </div>
          {% endif %}
          {% if metaobject.date_text %}
            <div class="info_item">
              <div class="text-weight-semibold">{{ 'sections.course_header.date' | t }}:</div>
              <div>{{ metaobject.date_text }}</div>
            </div>
          {% endif %}
          {% if metaobject.certificate %}
            <div class="info_item">
              <div class="text-weight-semibold">{{ 'sections.course_header.certificate' | t }}:</div>
              <div>{{ metaobject.certificate }}</div>
            </div>
          {% endif %}
          {% if metaobject.duration %}
            <div class="info_item">
              <div class="text-weight-semibold">{{ 'sections.course_header.duration' | t }}:</div>
              <p>{{ metaobject.duration }}</p>
            </div>
          {% endif %}
          {% if metaobject.language %}
            <div class="info_item">
              <div class="text-weight-semibold">{{ 'sections.course_header.language' | t }}:</div>
              <div>{{ metaobject.language }}</div>
            </div>
          {% endif %}
        </div>
        <div class="course-header_button-wrap">
          {% if metaobject.type == 'in studio' %}
            {%- if section.settings.button_label != blank -%}
              <a
                target="_blank"
                {% if section.settings.button_link == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ section.settings.button_link }}"
                {% endif %}
                class="button is-full-width"
                {{ section.shopify_attributes }}
              >
                {{ section.settings.button_label | escape }}
                {% render 'icon-arrow-up-right' %}
              </a>
            {%- endif -%}
          {% else %}
            {%- render 'buy-buttons',
              product: course_product,
              product_form_id: product_form_id,
              section_id: section.id,
              show_pickup_availability: false
            -%}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Шапка курса",
  "tag": "section",
  "class": "page-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Изображение"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Courses",
      "label": "Заголовок"
    },
    {
      "type": "inline_richtext",
      "id": "tag",
      "default": "Skills Beauty",
      "label": "Тег"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "Оставить заявку",
      "label": "Лебл кнопки"
    },
    {
      "type": "url",
      "id": "button_link",
      "default": "/",
      "label": "Ссылка кнопки"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 128
    }
  ],
  "presets": [
    {
      "name": "Шапка курса"
    }
  ]
}
{% endschema %}
