{{ 'section.css' | asset_url | stylesheet_tag }}
{{ 'certificate.css' | asset_url | stylesheet_tag }}

{% render 'section-padding' %}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="layout_12col">
      <div class="section_heading-wrap">
        {% render 'tag-component', tag_content: section.settings.tag_content %}
        <h2>{{ section.settings.heading }}</h2>
      </div>
      <div class="section_subheading-wrap subtitle">
        <div class="spacer-xlarge hide-mobile-portrait"></div>
        {{ section.settings.subheading }}
      </div>
      {% if metaobject.result_image %}
        <div class="certificate_img-wrap">
          {{
            metaobject.result_image
            | image_url: width: 1500
            | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
          }}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Результаты курса",
  "tag": "section",
  "class": "section_course-program",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Результаты",
      "label": "Заголовок"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "default": "<p>Небольшой параграф.</p>",
      "label": "Подзаголовок"
    },
    {
      "type": "text",
      "id": "tag_content",
      "default": "Скиллы и знания",
      "label": "Тег"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 128
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 128
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    }
  ],
  "locales": {
    "en": {
      "heading": "Outcomes"
    },
    "ru": {
      "heading": "Результаты"
    }
  },
  "presets": [
    {
      "name": "Результаты курса"
    }
  ]
}
{% endschema %}
