{% render 'section-padding' %}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <div class="page-width">
    <div class="section_header">
      {%- if section.settings.heading != blank -%}
        <div class="section_heading-wrap is-centered">
          {% if section.settings.show_tag %}
            {% assign default_tag_content = 'sections.portfolio.tag_content' | t %}
            {% assign tag_content = section.settings.tag_content | default: default_tag_content %}

            {% if tag_content != blank and tag_content != 'sections.contact.tag_content' %}
              {% render 'tag-component', tag_content: tag_content %}
            {% endif %}
          {% endif %}
          <h1 class="text-style-allcaps portfolio-heading">
            {{ section.settings.heading }}

          </h1>
          {%- if section.settings.description != blank -%}
            <div class="section_subheading-wrap max-width-large subtitle {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
              {{ section.settings.description }}

              {% if section.settings.show_buttons %}
                <div class="button-group is-centered">
                  <a
                    href="#contact"
                    onclick="lenis.scrollTo('#contact')"

                    class="button button--primary"
                    {{ section.shopify_attributes }}
                  >
                    {{ 'sections.portfolio.button_label_1' | t }}
                    {% render 'icon-arrow-down' %}
                  </a>

                  <a
                    href="#portfolio"
                    onclick="lenis.scrollTo('#portfolio')"

                    class="button button--secondary"
                    {{ section.shopify_attributes }}
                  >
                    {{ 'sections.portfolio.button_label_2' | t }}
                    {% render 'icon-arrow-down' %}
                  </a>
                </div>
              {% endif %}
            </div>
          {%- endif %}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Шапка портфолио",
  "tag": "section",
  "class": "page-header",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Portfolio",
      "label": "Заголовок"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label",
      "default": "<p>Explore our portfolio.</p>"
    },
    {
      "type": "text",
      "id": "tag_content",
      "label": "Тег",
      "info": "Leave blank to use default translation"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 128
    },
    {
      "type": "checkbox",
      "id": "show_tag",
      "label": "Show tag",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_buttons",
      "label": "Show action buttons",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Шапка портфолио"
    }
  ]
}
{% endschema %}
