{{ 'services.css' | asset_url | stylesheet_tag }}
{{ 'section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}" id="services">
  <div class="page-width">
    <div class="layout_12col">
      {% render 'tag-component', tag_content: section.settings.tag_content %}
      <div class="section_heading-wrap">
        <h2>{{ section.settings.heading }}</h2>
      </div>
      <div class="section_subheading-wrap subtitle">
        {{ section.settings.subheading }}
      </div>
      <div class="serivice_list">
        {% for block in section.settings.blocks %}
          <a href="{{ block.settings.url }}" class="button">
            {{ block.settings.title }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.services.name",
  "tag": "section",
  "class": "section_services",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Page heading",
      "label": "t:sections.services.settings.heading.label"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "default": "<p>Небольшой параграф рассказывающий о специалистах курсов.</p>",
      "label": "t:sections.services.settings.subheading.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.services.settings.image.label"
    },
    {
      "type": "text",
      "id": "tag_content",
      "default": "Специалисты Skills Beauty",
      "label": "Tag Content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 128
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 128
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Link Title",
          "default": "More Details"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL",
          "default": "http://example.com"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.services.presets.name",
      "category": "Service"
    }
  ]
}
{% endschema %}
