{{ 'success.css' | asset_url | stylesheet_tag }}

<div class="page-width padding-section-large">
  <div class="layout_12col">
    <div class="section_img-wrap">
      {%- if section.settings.header_img != blank -%}
        {{
          section.settings.header_img
          | image_url: width: 1500
          | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
        }}
      {%- else -%}
        {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
    <div class="section_heading-wrap">
      {% render 'tag-component', tag_content: section.settings.tag_content %}
      <h2 class="h1">Наши успехи в Beauty Сфeре</h2>
      <p class="subtitle">Небольшой параграф про опыт работы, обучении, и тд.</p>
    </div>
    <div class="success_content-wrap">
      {% comment %}
        {%- for block in section.blocks -%}
        {%- endfor -%}
      {% endcomment %}
    </div>
    <div class="success_img-wrap">
      {%- if section.settings.image != blank -%}
        {{
          section.settings.image
          | image_url: width: 1500
          | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
        }}
      {%- else -%}
        {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.success.name",
  "tag": "section",
  "class": "section_success",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_img",
      "label": "t:sections.success.settings.header_img.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.success.settings.image.label"
    },
    {
      "type": "text",
      "id": "tag_content",
      "default": "Наши задачи и цели",
      "label": "Tag Content"
    }
  ],
  "presets": [
    {
      "name": "t:sections.cerificate.presets.name"
    }
  ]
}
{% endschema %}
