{{ 'success.css' | asset_url | stylesheet_tag }}

{% render 'section-padding' %}

<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="layout_12col">
      <div class="success_header-img-wrap">
        {%- if section.settings.header_img != blank -%}
          {%- capture sizes -%}
          (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
          (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
        {%- endcapture -%}
          {{
            section.settings.header_img
            | image_url: width: 535
            | image_tag: sizes: sizes, widths: '165, 360, 535, 750, 1070, 1500'
          }}
        {%- else -%}
          {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      </div>
      <div class="success_heading-wrap">
        {% render 'tag-component', tag_content: section.settings.tag_content %}
        <h2>{{ section.settings.heading }}</h2>
        <div class="subtitle max-width-large">{{ section.settings.subheading }}</div>
      </div>
      <div class="success_items">
        <div class="success_item">
          {% comment %}
            <div class="success_item-img-wrap">
              <img
                srcset="
                  {%- if section.settings.image_1.width >= 165 -%}{{ section.settings.image_1 | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.image_1.width >= 360 -%}{{ section.settings.image_1 | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.image_1.width >= 533 -%}{{ section.settings.image_1 | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if section.settings.image_1.width >= 720 -%}{{ section.settings.image_1 | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if section.settings.image_1.width >= 940 -%}{{ section.settings.image_1 | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if section.settings.image_1.width >= 1066 -%}{{ section.settings.image_1 | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ section.settings.image_1 | image_url }} {{ section.settings.image_1.width }}w
                "
                src="{{ section.settings.image_1 | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 3 }}px, (min-width: 990px) calc((100vw - 130px) / 3), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 1)"
                alt="{{ section.settings.image_1.alt | escape }}"
                class="success_item-img"
                loading="lazy"
                width="{{ section.settings.image_1.width }}"
                height="{{ section.settings.image_1.height }}"
              >
            </div>
          {% endcomment %}
          <div class="success_number">
            <div class="success_icon">
              {%- if section.settings.icon_1 != blank -%}
                {{ section.settings.icon_1 | image_url: width: 64, height: 64 | image_tag }}
              {%- else -%}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
            {{ section.settings['success_item-1_number'] }}
          </div>
          <div class="text-size-medium text-weight-medium">{{ section.settings['success_item-1_text'] }}</div>
          <div class="success_button-wrap">
            {%- if section.settings['success_item-1_button_label'] != blank -%}
              <a
                {% if section.settings['success_item-1_button_link'] == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ section.settings.success_item-1_button_link }}"
                {% endif %}
                class="button button--secondary is-full-width"
                {{ section.shopify_attributes }}
              >
                {{ section.settings['success_item-1_button_label'] | escape }}
                {% render 'icon-arrow' %}
              </a>
            {%- endif -%}
          </div>
        </div>
        <div class="success_item">
          {% comment %}
            <div class="success_item-img-wrap">
              <img
                srcset="
                  {%- if section.settings.image_2.width >= 165 -%}{{ section.settings.image_2 | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.image_2.width >= 360 -%}{{ section.settings.image_2 | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.image_2.width >= 533 -%}{{ section.settings.image_2 | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if section.settings.image_2.width >= 720 -%}{{ section.settings.image_2 | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if section.settings.image_2.width >= 940 -%}{{ section.settings.image_2 | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if section.settings.image_2.width >= 1066 -%}{{ section.settings.image_2 | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ section.settings.image_2 | image_url }} {{ section.settings.image_2.width }}w
                "
                src="{{ section.settings.image_2 | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 3 }}px, (min-width: 990px) calc((100vw - 130px) / 3), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 1)"
                alt="{{ section.settings.image_2.alt | escape }}"
                class="success_item-img"
                loading="lazy"
                width="{{ section.settings.image_2.width }}"
                height="{{ section.settings.image_2.height }}"
              >
            </div>
          {% endcomment %}
          <div class="success_number">
            <div class="success_icon">
              {%- if section.settings.icon_2 != blank -%}
                {{ section.settings.icon_2 | image_url: width: 64, height: 64 | image_tag }}
              {%- else -%}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
            {{ section.settings['success_item-2_number'] }}
          </div>
          <div class="text-size-medium text-weight-medium">{{ section.settings['success_item-2_text'] }}</div>
          <div class="success_button-wrap">
            {%- if section.settings['success_item-2_button_label'] != blank -%}
              <a
                {% if section.settings['success_item-2_button_link'] == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ section.settings.success_item-2_button_link }}"
                {% endif %}
                class="button button--secondary is-full-width"
                {{ section.shopify_attributes }}
              >
                {{ section.settings['success_item-2_button_label'] | escape }}
                {% render 'icon-arrow' %}
              </a>
            {%- endif -%}
          </div>
        </div>
        <div class="success_item">
          {% comment %}
            <div class="success_item-img-wrap">
              <img
                srcset="
                  {%- if section.settings.image_3.width >= 165 -%}{{ section.settings.image_3 | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if section.settings.image_3.width >= 360 -%}{{ section.settings.image_3 | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if section.settings.image_3.width >= 533 -%}{{ section.settings.image_3 | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if section.settings.image_3.width >= 720 -%}{{ section.settings.image_3 | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if section.settings.image_3.width >= 940 -%}{{ section.settings.image_3 | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if section.settings.image_3.width >= 1066 -%}{{ section.settings.image_3 | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ section.settings.image_3 | image_url }} {{ section.settings.image_3.width }}w
                "
                src="{{ section.settings.image_3 | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 3 }}px, (min-width: 990px) calc((100vw - 130px) / 3), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 1)"
                alt="{{ section.settings.image_3.alt | escape }}"
                class="success_item-img"
                loading="lazy"
                width="{{ section.settings.image_3.width }}"
                height="{{ section.settings.image_3.height }}"
              >
            </div>
          {% endcomment %}
          <div class="success_number">
            <div class="success_icon">
              {%- if section.settings.icon_3 != blank -%}
                {{ section.settings.icon_3 | image_url: width: 64, height: 64 | image_tag }}
              {%- else -%}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </div>
            {{ section.settings['success_item-3_number'] }}
          </div>
          <div class="text-size-medium text-weight-medium">{{ section.settings['success_item-3_text'] }}</div>
          <div class="success_button-wrap">
            {%- if section.settings['success_item-3_button_label'] != blank -%}
              <a
                {% if section.settings['success_item-1_button_link'] == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ section.settings.success_item-3_button_link }}"
                {% endif %}
                class="button button--secondary is-full-width"
                {{ section.shopify_attributes }}
              >
                {{ section.settings['success_item-3_button_label'] | escape }}
                {% render 'icon-arrow-up-right' %}
              </a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Успехи",
  "tag": "section",
  "class": "section_success",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_img",
      "label": "t:sections.success.settings.header_img.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Наши успехи в Beauty Сфeре",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "default": "<p>Вдохновлять и поддерживать тех, кто заинтересован в Beauty-сфере.</p>",
      "label": "Subheading"
    },
    {
      "type": "image_picker",
      "id": "icon_1",
      "label": "Иконка 1"
    },
    {
      "type": "image_picker",
      "id": "icon_2",
      "label": "Иконка 2"
    },
    {
      "type": "image_picker",
      "id": "icon_3",
      "label": "Иконка 3"
    },
    {
      "type": "text",
      "id": "tag_content",
      "default": "Наши задачи и цели",
      "label": "Tag Content"
    },
    {
      "type": "text",
      "id": "success_item-1_number",
      "default": "2300+",
      "label": "Success item number"
    },
    {
      "type": "text",
      "id": "success_item-1_text",
      "default": "Счастливых клиентов",
      "label": "Success item text"
    },
    {
      "type": "text",
      "id": "success_item-1_button_label",
      "default": "О Нашей Студии",
      "label": "t:sections.all.button.button_label.label"
    },
    {
      "type": "url",
      "id": "success_item-1_button_link",
      "default": "/",
      "label": "t:sections.all.button.button_link.label"
    },
    {
      "type": "text",
      "id": "success_item-2_number",
      "default": "168+",
      "label": "Success item number"
    },
    {
      "type": "text",
      "id": "success_item-2_text",
      "default": "Проведенных оффлайн уроков",
      "label": "Success item text"
    },
    {
      "type": "text",
      "id": "success_item-2_button_label",
      "default": "Наши Курсы",
      "label": "t:sections.success.settings.success_item-2_button_label.label"
    },
    {
      "type": "url",
      "id": "success_item-2_button_link",
      "default": "/",
      "label": "t:sections.success.settings.success_item-2_button_link.label"
    },
    {
      "type": "text",
      "id": "success_item-3_number",
      "default": "100,000+",
      "label": "Success item number"
    },
    {
      "type": "text",
      "id": "success_item-3_text",
      "default": "Просмотров на Youtube",
      "label": "Success item text"
    },
    {
      "type": "text",
      "id": "success_item-3_button_label",
      "default": "Наш Youtube",
      "label": "t:sections.success.settings.success_item-3_button_label.label"
    },
    {
      "type": "url",
      "id": "success_item-3_button_link",
      "default": "/",
      "label": "t:sections.success.settings.success_item-3_button_link.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 128
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 256,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 128
    }
  ],
  "presets": [
    {
      "name": "Успехи"
    }
  ]
}
{% endschema %}
